{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    <head>
        
        

    </head>
    <body>
        

        {% block content %}
        <title>login</title>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-7 col-lg-5 m-auto mt-4">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" action="/users/login?url={{url}}" >{% csrf_token %}
                                <p class="form-group">
                                    {% if not isLinked %}
                                    <p class="alert-danger text-center">login yoki parol xato</p>
                                    {% endif %}
                                    <label for="account">account:</label><br>
                                    <input placeholder="accountni kiriting"  class="form-control" type="text" name="account" id="account" value="{{account}}">
                                    {% if not account and method == 'POST' %}
                                    <span class="small text-danger">cfel accountni kiritish talab qilinadi.</span>
                                    {% endif %}
                                </p>
                                <p class="form-group">
                                    <label for="password">parol:</label><br>
                                    <input placeholder="parolni kiriting"  class="form-control" type="password" name="password" id="password" value="{{password}}">
                                    {% if not password and method == 'POST' %}
                                    <span class="small text-danger">parolni kiritish talab qilinadi.</span>
                                    {% endif %}
                                    
                                </p>
                                <input type="submit" value="kiritish" class="btn btn-success">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
    </body>
</html>