{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        
        <link rel="shortcut icon" type="image/png" href="{% static 'homepage/img/favicon.png' %}"/>
    </head>
    <body>
        

        {% block content %}
        <title>ma'lumot</title>
        <div class="container">
           
            <div class="row">
                <div class="col-md-7 col-sm-9 col-lg-5 m-auto align-items-center d-flex justify-content-between mt-2">
                    {% if state == 'plus' %} 
                        <h1 class="text-info">kirim</h1> 
                    {% else %} 
                        <h1 class="text-warning">chiqim</h1> 
                    {% endif %}
                    <div class="btn-group-sm" role="group" aria-label="Basic example">
                        <a class="btn btn-sm btn-success" href="/sents/storage"> sklad </a>
                        <a class="btn btn-sm btn-success" href="/sents"> +/- </a>
                        <a class="btn btn-sm btn-info" href="/sents/insert/plus"> kirim </a>
                        <a class="btn btn-sm btn-warning" href="/sents/insert/minus"> chiqim </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-9 col-lg-5 m-auto mt-2">
                    <div class="card bg-light">
                        <div class="card-body form-control-sm">
                            <form method="post" action="/sents/insert/{{state}}" >{% csrf_token %}
                                <div class="form-group">
                                    <label for="who">
                                        {% if state == 'plus' %} 
                                            kimdan 
                                        {% else %}
                                            kimga
                                        {% endif %}
                                        :</label><br>
                                    <input placeholder="accountni kiriting" type="text"  class="form-control" list="accounts" name="who" id="who" value="{{values.who_value}}">
                                    <datalist id="accounts">
                                       
                                    </datalist>
                                    <div id="requiredaccount" class="small text-danger" style="display: none;">cfel accountni kiritish talab qilinadi.</div>
                                    <div id="nolinked" class="small text-danger"  style="display: none;">bu account bilan ulanmagansiz</div>
                                    
                                </div>
                            <table class="table table-hover table-striped table-sm" id="whattable" style="display: none;">
                                
                                <thead class="thead_dark">
                                    <th>nima</th>
                                    <th>qancha</th>
                                    <th>narxi</th>
                                    <th>holat</th>
                                </thead>
                                <tbody id="whattbody">

                                </tbody>
                                      

                            </table>
                                <div class="d-flex  mt-3">
                                    <div  class="form-group">
                                        <label for="what">nima:</label><br>
                                        <input placeholder="nima" class="form-control" type="text" list="products"  name="what" id="what"value="{{values.what_value}}">
                                        <datalist id="products">
                                            
                                            
                                        </datalist>
                                    </div>
                                    <div  class="form-group">
                                        <label for="how_much">qancha:</label><br>
                                        <input placeholder="qancha"  class="form-control" type="number" name="how_much" id="how_much"value="{{values.how_much_value}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="price">narxi:</label><br>
                                        <input placeholder="narxi"  class="form-control" type="number" name="price" id="price"value="{{values.price_value}}">
                                        
                                    </div>
                                </div>
                                <div class="small text-danger" id="noproduct" style="display: none;">sizda bu mahsulot mavjud emas.</div>
                                <div id="spacethreeinput" class="small text-danger" style="display: none;">yuqoridagi uchta katak kiritilishi talab qilinadi.</div>
                                <input type="button" value="kiritish" id="whatbutton" class="btn btn-success btn-sm  my-2">
                                <p class="form-group">
                                    <label for="add_info">izoh qoldiring:</label><br>
                                    <textarea placeholder="izohni kiriting" class="form-control" id="add_info" name="add_info" cols="30" rows="3">{{values.add_info_value}}</textarea>
                                </p>
                                <input type="button" value="kiritish" class="btn btn-success" id="primarybutton">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i <ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            var whattable = $('#whattable')
            var whattbody = $('#whattbody')
            var accounts = JSON.parse('{{ accounts | escapejs }}') 
            var products = JSON.parse('{{ products | escapejs }}')
            var state = '{{state}}'
            var table = []
            function put_products(p){
                $('#products').html('')
                for (i of p){
                    $('#products').append(
                        `<option>${i}</option>`
                    )
                }
            }
            function show_table(){
                if(table.length != 0){
                    whattbody.html('')
                    table.map((x,i) =>{
                        whattbody.append(`
                        <tr>
                            <td>${x.product}</td>
                            <td>${x.product_value}</td>
                            <td>${x.product_price}</td>
                            <td><span class='text-danger'  style="cursor: pointer;"  onclick="delete_item(${i})">o'chirish</span></td>
                        </tr>
                        `)
                    })
                    whattable.show()
                    $("#who").attr('readonly', true)
                }else{
                    whattable.hide()
                    $("#who").removeAttr('readonly')
                }
            }
            function delete_item(index){
                table.splice(index, 1)
                show_table()
            }
            $(document).ready(function(){
                var wholist = $("#accounts")
                var requiredaccount = $('#requiredaccount')
                var nolinked = $('#nolinked')
                var noproduct = $("#noproduct")
                put_products(products)
                for (account of accounts){
                    wholist.append(`
                        <option value = "${account}">
                    `)
                }
                if (state == 'plus'){
                    $('#what').attr('readonly', true)
                    $('#who').focusout(function(){
                        requiredaccount.hide()
                        nolinked.hide()
                        account = $('#who').val()
                        if (account){
                            account = accounts.filter((x,i) => x == account)
                            if (account != 0){
                                $.ajax({
                                    url: "/sents/product/take",
                                    type: "GET",
                                    dataType: "json",
                                    data: {account:account[0],},
                                    headers: {
                                        "X-Requested-With": "XMLHttpRequest",
                                        "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
                                    },
                                    success: (data) => {
                                        products = data
                                        put_products(data)
                                        $('#what').removeAttr('readonly')
                                    },
                                    error: (error) => {
                                        console.log(error);
                                    }
                                });
                            }else{
                                $('#what').attr('readonly', true)
                                nolinked.show()
                            }
                        }else{
                            $('#what').attr('readonly', true)
                            requiredaccount.show()
                        }
                    })
                }
                var spacethreeinput = $('#spacethreeinput')
                $('#whatbutton').click(function(){
                    spacethreeinput.hide()
                    noproduct.hide()
                    what = $('#what').val()
                    how_much = $('#how_much').val()
                    price = $('#price').val()
                    if(what && how_much && price){
                        what = products.filter((x,i) => x == what)
                        if (what != 0){
                            table.push({
                                product:what[0],
                                product_value:how_much,
                                product_price:price
                            })
                            $("#what").val('')
                            $("#how_much").val('')
                            $("#price").val('')
                            $("#what").focus()
                        }else{
                            noproduct.show()
                        }
                    }else{
                        spacethreeinput.show()
                    }
                    show_table()
                })
                call = 0
                $('#primarybutton').click(() =>{
                    account = $('#who').val()
                    add_info = $('#add_info').val()
                    console.log(add_info)
                    requiredaccount.hide()
                    nolinked.hide()
                    if (account){
                        account = accounts.filter((x,i) => x == account)
                        if (account != 0){
                            if (!call){
                                call += 1
                                $.ajax({
                                    url: "/sents/insert/{{state}}",
                                    type: "POST",
                                    dataType: "json",
                                    data: {who:account[0], addinfo:add_info, table:JSON.stringify(table)},
                                    headers: {
                                        "X-Requested-With": "XMLHttpRequest",
                                        "X-CSRFToken": getCookie("csrftoken"),  // don't forget to include the 'getCookie' function
                                    },
                                    success: (data) => {
                                        console.log(data)
                                        console.log('oshaa')
                                        table = []
                                        $('#who').val('')
                                        $('#what').val('')
                                        $('#how_much').val('')
                                        $('#price').val('')
                                        $('#add_info').val('')
                                        show_table()
                                        call = 0
                                    },
                                    error: (error) => {
                                        console.log(error);
                                    }
                                });
                            }
                        }else{
                            nolinked.show()
                        }
                    }else{
                        requiredaccount.show()
                    }
                })
                    

            });
        </script>
        {% endblock content %}
    </body>
</html>